@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --dark: #0c1022;
    --dark2: #0bec7c22;
    --dark-bg: rgba(0, 0, 0, 0.75);
    --light: #0bec;
}

body {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    height: 100vh;
}

h2{
    font-size: 50px;
    padding: 200px;
    color: var(--light);
    text-shadow: 1px 1px white, -1px -1px #444;
}


.loader {
    position: relative;
    width: 40%;
    height: 4px;
    background: var(--dark-bg);
}

.loader::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--light);
    transform-origin: left;
    animation: animate 8s linear infinite;
}

.loader::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--light);
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%) scale(0);
    animation: animateDot 8s linear infinite;

}

@keyframes animate {
    0%,20% {
        transform: scaleX(0);
    }

    40% {
        transform: scaleX(1);
        transform-origin: left;
    }

    40.000001%,
    60% {
        transform: scaleX(1);
        transform-origin: right;
    }

    80%,
    100% {
        transform: scaleX(1);
        transform-origin: right;
    }

}

@keyframes animateDot {
    0% {
        transform: translateY(-50%) scale(0);
    }

    5% {
        transform: translateY(-50%) scale(1);

    }

    15%,
    20% {
        transform: translateY(-50%) scale(1);
        box-shadow: 0 0 0 4px var(--dark2),
            0 0 0 10px var(--dark2),
            0 0 20px var(--light),
            0 0 40px 5px var(--light),
            0 0 50px 10px var(--light)
    }

    40% {
        transform: translateY(-50%) scale(1) translateX(40vw);
    }
    80% {
        transform: translateY(-50%) scale(1) translateX(40vw);
        box-shadow: 0 0 0 4px var(--dark2),
        0 0 0 10px var(--dark2),
        0 0 20px var(--light),
        0 0 40px 5px var(--light),
        0 0 50px 10px var(--light)
    }
    
    95%{
        transform: translateY(-50%) scale(1) translateX(40vw);
        box-shadow: none;
    }

    100% {
        transform: translateY(-50%) scale(1) translateX(40vw);
    }

}